.main{
    flex: 75%;
    display: flex;
    flex-direction: column;
}

.main .top{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .top .timer{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    border: 5px solid white;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: black;
}

.main .bottom{
    flex: 0.5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .bottom .question-section{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: cursive;
    /* justify-content: center; */
}

.main .bottom .question-section .question{
    flex: 0.3;
    width: 100%;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.main .bottom .question-section .answers{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
    flex-wrap: wrap;
    border-radius: 15px;
}

.main .bottom .question-section .answers .answer{
    height: 33%;
    width: 48%;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all;
    background: linear-gradient(rgb(1, 1, 31), rgb(22, 22, 56));
    cursor: pointer;
}
.main .endText{
    color: white;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: relative;
    font-size: 60px;
}
.main .bottom .question-section .answers .answer:hover, .main .bottom .question-section .answers .answer.active{
    background: blue;
}

.main .bottom .question-section .answers .answer.right{
    animation: right ease forwards 2s;
}
.main .bottom .question-section .answers .answer.wrong{
    animation: wrong ease forwards 2s;
}

@keyframes right{
    0%, 22%, 42%{
        background: rgb(11, 11, 233);
    }20%, 40%, 60%{
        background: linear-gradient(rgb(1, 1, 31), rgb(22, 22, 56));
    }62%, 100%{
        background: green;
    }
}

@keyframes wrong{
    0%, 22%, 42%{
        background: rgb(11, 11, 233);
    }20%, 40%, 60%{
        background: linear-gradient(rgb(1, 1, 31), rgb(22, 22, 56));
    }62%, 100%{
        background: red;
    }
}

